# Capstone Project: Create a Customer Segmentation Report for Arvato Financial Services

In this project, you will analyze demographics data for customers of a mail-order sales company in Germany, comparing it against demographics information for the general population. You'll use unsupervised learning techniques to perform customer segmentation, identifying the parts of the population that best describe the core customer base of the company. Then, you'll apply what you've learned on a third dataset with demographics information for targets of a marketing campaign for the company, and use a model to predict which individuals are most likely to convert into becoming customers for the company. The data that you will use has been provided by our partners at Bertelsmann Arvato Analytics, and represents a real-life data science task.

If you completed the first term of this program, you will be familiar with the first part of this project, from the unsupervised learning project. The versions of those two datasets used in this project will include many more features and has not been pre-cleaned. You are also free to choose whatever approach you'd like to analyzing the data rather than follow pre-determined steps. In your work on this project, make sure that you carefully document your steps and decisions, since your main deliverable for this project will be a blog post reporting your findings.

In [1]:
# import libraries here; add more as necessary
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# magic word for producing visualizations in notebook
%matplotlib inline

## Part 0: Get to Know the Data

There are four data files associated with this project:

- `Udacity_AZDIAS_052018.csv`: Demographics data for the general population of Germany; 891 211 persons (rows) x 366 features (columns).
- `Udacity_CUSTOMERS_052018.csv`: Demographics data for customers of a mail-order company; 191 652 persons (rows) x 369 features (columns).
- `Udacity_MAILOUT_052018_TRAIN.csv`: Demographics data for individuals who were targets of a marketing campaign; 42 982 persons (rows) x 367 (columns).
- `Udacity_MAILOUT_052018_TEST.csv`: Demographics data for individuals who were targets of a marketing campaign; 42 833 persons (rows) x 366 (columns).

Each row of the demographics files represents a single person, but also includes information outside of individuals, including information about their household, building, and neighborhood. Use the information from the first two files to figure out how customers ("CUSTOMERS") are similar to or differ from the general population at large ("AZDIAS"), then use your analysis to make predictions on the other two files ("MAILOUT"), predicting which recipients are most likely to become a customer for the mail-order company.

The "CUSTOMERS" file contains three extra columns ('CUSTOMER_GROUP', 'ONLINE_PURCHASE', and 'PRODUCT_GROUP'), which provide broad information about the customers depicted in the file. The original "MAILOUT" file included one additional column, "RESPONSE", which indicated whether or not each recipient became a customer of the company. For the "TRAIN" subset, this column has been retained, but in the "TEST" subset it has been removed; it is against that withheld column that your final predictions will be assessed in the Kaggle competition.

Otherwise, all of the remaining columns are the same between the three data files. For more information about the columns depicted in the files, you can refer to two Excel spreadsheets provided in the workspace. [One of them](./DIAS Information Levels - Attributes 2017.xlsx) is a top-level list of attributes and descriptions, organized by informational category. [The other](./DIAS Attributes - Values 2017.xlsx) is a detailed mapping of data values for each feature in alphabetical order.

In the below cell, we've provided some initial code to load in the first two datasets. Note for all of the `.csv` data files in this project that they're semicolon (`;`) delimited, so an additional argument in the [`read_csv()`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html) call has been included to read in the data properly. Also, considering the size of the datasets, it may take some time for them to load completely.

You'll notice when the data is loaded in that a warning message will immediately pop up. Before you really start digging into the modeling and analysis, you're going to need to perform some cleaning. Take some time to browse the structure of the data and look over the informational spreadsheets to understand the data values. Make some decisions on which features to keep, which features to drop, and if any revisions need to be made on data formats. It'll be a good idea to create a function with pre-processing steps, since you'll need to clean all of the datasets before you work with them.

## TODO Explore data

In [2]:
# load in the data
azdias = pd.read_csv('../data/Udacity_AZDIAS_052018.csv', sep=';')
customers = pd.read_csv('../data/Udacity_CUSTOMERS_052018.csv', sep=';')

print(azdias.shape)
azdias.head()

/home/gabor/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (18,19) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

(891221, 366)

,LNR,AGER_TYP,AKT_DAT_KL,ALTER_HH,ALTER_KIND1,ALTER_KIND2,ALTER_KIND3,ALTER_KIND4,ALTERSKATEGORIE_FEIN,ANZ_HAUSHALTE_AKTIV,...,VHN,VK_DHT4A,VK_DISTANZ,VK_ZG11,W_KEIT_KIND_HH,WOHNDAUER_2008,WOHNLAGE,ZABEOTYP,ANREDE_KZ,ALTERSKATEGORIE_GROB
0,910215,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,1,2
1,910220,-1,9.0,0.0,NaN,NaN,NaN,NaN,21.0,11.0,...,4.0,8.0,11.0,10.0,3.0,9.0,4.0,5,2,1
2,910225,-1,9.0,17.0,NaN,NaN,NaN,NaN,17.0,10.0,...,2.0,9.0,9.0,6.0,3.0,9.0,2.0,5,2,3
3,910226,2,1.0,13.0,NaN,NaN,NaN,NaN,13.0,1.0,...,0.0,7.0,10.0,11.0,NaN,9.0,7.0,3,2,4
4,910241,-1,1.0,20.0,NaN,NaN,NaN,NaN,14.0,3.0,...,2.0,3.0,5.0,4.0,2.0,9.0,3.0,4,1,3

In [39]:
# Read up data dictionary
df_dictionary = pd.read_excel('../data/DIAS Attributes - Values 2017.xlsx', skiprows=1, usecols=[1,2,3,4])
df_dictionary['Attribute'].fillna(method='ffill', inplace=True)
df_dictionary['Description'].fillna(method='ffill', inplace=True)
df_dictionary.loc[df_dictionary['Value']=='…', 'Type'] = 'continous'
df_dictionary.loc[~(df_dictionary['Value']=='…'), 'Type'] = 'non-continous'

# Split the cells with list values '-1, 0' -> ['-1', '0']
df_splitvals = df_dictionary['Value'].str.split(',')
split_rows = ~df_splitvals.isnull()
df_dictionary.loc[split_rows, 'Value'] = df_splitvals.loc[split_rows]

# New row for cells with list items
df_dictionary = df_dictionary.explode('Value')

# Convert string numbers to numerical
all_values = df_dictionary['Value']
df_dictionary['Value'] = pd.to_numeric(df_dictionary['Value'], errors='coerce', downcast='integer')
df_dictionary['Value'] = df_dictionary['Value'].fillna(all_values)

# Create list of possible values and missing values by column
data_type = df_dictionary[['Attribute', 'Type']].drop_duplicates()

# Create columns with possible values
possible_values = df_dictionary.groupby(by='Attribute')['Value'].apply(list)
print(len(possible_values), len(data_type))
data_type = data_type.merge(possible_values, left_on='Attribute', right_index=True).reset_index(drop=True)
print(len(data_type))

# missing values
df_missing = df_dictionary[df_dictionary['Meaning'].astype('str').str.contains('unknown|no classification possible|no transactions known')]
missing_values = df_missing.groupby(by='Attribute')['Value'].apply(list)
data_type = data_type.merge(missing_values, left_on='Attribute', right_index=True, how='left').reset_index(drop=True)
print(len(data_type))
data_type.rename(columns={'Value_x':'Values','Value_y':'Missing values'}, inplace=True)

314 314
314
314

In [42]:
data_type.head()

,Attribute,Type,Values,Missing values
0,AGER_TYP,non-continous,"[-1.0, 0.0, 1.0, 2.0, 3.0]","[-1.0, 0.0]"
1,ALTERSKATEGORIE_GROB,non-continous,"[-1.0, 0.0, 1.0, 2.0, 3.0, 4.0, 9.0]","[-1.0, 0.0]"
2,ALTER_HH,non-continous,"[0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, ...",[0.0]
3,ANREDE_KZ,non-continous,"[-1.0, 0.0, 1.0, 2.0]","[-1.0, 0.0]"
4,ANZ_HAUSHALTE_AKTIV,continous,[…],NaN

In [43]:
cols_customers = customers.columns
cols_azdias = azdias.columns
cols_datadict = sorted(data_type['Attribute'])
print(len(cols_customers))
print(len(cols_azdias))
print(len(cols_datadict))

df_cols = pd.Series(sorted(cols_customers), name='customers').to_frame()
df_cols = df_cols.merge(pd.Series(sorted(cols_azdias), name='azdias').to_frame(), left_on='customers', right_on='azdias', how='outer')

# Deal with mis-spelled column names
# in all three sets: rename the _RZ
cols_datadict = [col[0:-3] if col[-3:]=='_RZ' else col for col in cols_datadict ]
df_cols.loc[df_cols['customers']=='D19_BUCH_CD'] = 'D19_BUCH'

# in data dictionary: KBA13_CCM_1400_2500 -> KBA13_CCM_1401_2500
df_dict_cols = pd.Series(sorted(cols_datadict), name='dictionary').to_frame()
df_dict_cols.loc[df_dict_cols['dictionary']=='KBA13_CCM_1400_2500']='KBA13_CCM_1401_2500'

# in data dictionary: CAMEO_DEUINTL_2015 -> CAMEO_INTL_2015
df_dict_cols.loc[df_dict_cols['dictionary']=='CAMEO_DEUINTL_2015']='CAMEO_INTL_2015'

# in data dictionary: SOHO_FLAG -> SOHO_KZ
df_dict_cols.loc[df_dict_cols['dictionary']=='SOHO_FLAG']='SOHO_KZ'

df_cols = df_cols.merge(df_dict_cols, left_on='customers', right_on='dictionary', how='outer')
df_cols['All Cols']=df_cols.fillna(method='pad', axis=1)['dictionary']
len(df_cols)

369
366
314

374

In [44]:
# rename columns in data dictionary
data_type['Attribute'] = data_type['Attribute'].str.replace('_RZ', '', regex=True)
col_name_changes = {'KBA13_CCM_1400_2500':'KBA13_CCM_1401_2500',
                    'CAMEO_DEUINTL_2015':'CAMEO_INTL_2015',
                    'SOHO_FLAG': 'SOHO_KZ'}

data_type['Attribute'] = data_type['Attribute'].replace(col_name_changes)

# rename column in customer and azdias
azdias.columns = azdias.columns.str.replace('D19_BUCH_CD', 'D19_BUCH')
customers.columns = customers.columns.str.replace('D19_BUCH_CD', 'D19_BUCH')

In [45]:
# Checks
cols_to_drop = df_cols[df_cols.isnull().any(axis=1)]['All Cols'].values
print(len(cols_to_drop))
cols_to_drop[:20]

65

array(['AKT_DAT_KL', 'ALTERSKATEGORIE_FEIN', 'ALTER_KIND1', 'ALTER_KIND2',
       'ALTER_KIND3', 'ALTER_KIND4', 'ANZ_KINDER',
       'ANZ_STATISTISCHE_HAUSHALTE', 'ARBEIT', 'CJT_KATALOGNUTZER',
       'CJT_TYP_1', 'CJT_TYP_2', 'CJT_TYP_3', 'CJT_TYP_4', 'CJT_TYP_5',
       'CJT_TYP_6', 'CUSTOMER_GROUP', 'D19_KONSUMTYP_MAX',
       'D19_LETZTER_KAUF_BRANCHE', 'D19_SOZIALES'], dtype=object)

In [46]:
# Check if df is updated
df_cols[df_cols['All Cols'].str.contains('CAMEO')]

          customers           azdias       dictionary         All Cols
18  CAMEO_DEUG_2015  CAMEO_DEUG_2015  CAMEO_DEUG_2015  CAMEO_DEUG_2015
19   CAMEO_DEU_2015   CAMEO_DEU_2015   CAMEO_DEU_2015   CAMEO_DEU_2015
20  CAMEO_INTL_2015  CAMEO_INTL_2015  CAMEO_INTL_2015  CAMEO_INTL_2015

## I'll need columns present in both dataset at the same time.

In [47]:
# Drop all non matching columns
cols_to_drop_azdias = [col for col in cols_to_drop if col in azdias.columns ]
print(len(cols_to_drop_azdias))
azdias_coldropped = azdias.drop(columns=cols_to_drop_azdias)

cols_to_drop_customers = [col for col in cols_to_drop if col in customers.columns ]
print(len(cols_to_drop_customers))
customers_coldropped = customers.drop(columns=cols_to_drop_customers)

57
60

## TODO Clean data

In [54]:
replace_missing = data_type[~data_type['Missing values'].isnull()].set_index('Attribute')['Missing values'].to_dict()
replace_missing

{'AGER_TYP': [-1.0, 0.0],
 'ALTERSKATEGORIE_GROB': [-1.0, 0.0],
 'ALTER_HH': [0.0],
 'ANREDE_KZ': [-1.0, 0.0],
 'BALLRAUM': [-1.0],
 'BIP_FLAG': [-1.0],
 'CAMEO_DEUG_2015': [-1.0],
 'CAMEO_INTL_2015': [-1.0],
 'CJT_GESAMTTYP': [0.0],
 'D19_BANKEN_ANZ_12': [0.0],
 'D19_BANKEN_ANZ_24': [0.0],
 'D19_BANKEN_DATUM': [10.0],
 'D19_BANKEN_OFFLINE_DATUM': [10.0],
 'D19_BANKEN_ONLINE_DATUM': [10.0],
 'D19_GESAMT_ANZ_12': [0.0],
 'D19_GESAMT_ANZ_24': [0.0],
 'D19_GESAMT_DATUM': [10.0],
 'D19_GESAMT_OFFLINE_DATUM': [10.0],
 'D19_GESAMT_ONLINE_DATUM': [10.0],
 'D19_KK_KUNDENTYP': [-1.0],
 'D19_TELKO_ANZ_12': [0.0],
 'D19_TELKO_ANZ_24': [0.0],
 'D19_TELKO_DATUM': [10.0],
 'D19_TELKO_OFFLINE_DATUM': [10.0],
 'D19_TELKO_ONLINE_DATUM': [10.0],
 'D19_VERSAND_ANZ_12': [0.0],
 'D19_VERSAND_ANZ_24': [0.0],
 'D19_VERSAND_DATUM': [10.0],
 'D19_VERSAND_OFFLINE_DATUM': [10.0],
 'D19_VERSAND_ONLINE_DATUM': [10.0],
 'D19_VERSI_ANZ_12': [0.0],
 'D19_VERSI_ANZ_24': [0.0],
 'EWDICHTE': [-1.0],
 'FINANZTYP': [-1.0],
 'FINANZ_ANLEGER': [-1.0],
 'FINANZ_HAUSBAUER': [-1.0],
 'FINANZ_MINIMALIST': [-1.0],
 'FINANZ_SPARER': [-1.0],
 'FINANZ_UNAUFFAELLIGER': [-1.0],
 'FINANZ_VORSORGER': [-1.0],
 'GEBAEUDETYP': [-1.0, 0.0],
 'GEOSCORE_KLS7': [-1.0, 0.0],
 'HAUSHALTSSTRUKTUR': [-1.0, 0.0],
 'HEALTH_TYP': [-1.0],
 'HH_EINKOMMEN_SCORE': [-1.0, 0.0],
 'INNENSTADT': [-1.0],
 'KBA05_ALTER1': [-1.0, 9.0],
 'KBA05_ALTER2': [-1.0, 9.0],
 'KBA05_ALTER3': [-1.0, 9.0],
 'KBA05_ALTER4': [-1.0, 9.0],
 'KBA05_ANHANG': [-1.0, 9.0],
 'KBA05_ANTG1': [-1.0],
 'KBA05_ANTG2': [-1.0],
 'KBA05_ANTG3': [-1.0],
 'KBA05_ANTG4': [-1.0],
 'KBA05_AUTOQUOT': [-1.0, 9.0],
 'KBA05_BAUMAX': [-1.0, 0.0],
 'KBA05_CCM1': [-1.0, 9.0],
 'KBA05_CCM2': [-1.0, 9.0],
 'KBA05_CCM3': [-1.0, 9.0],
 'KBA05_CCM4': [-1.0, 9.0],
 'KBA05_DIESEL': [-1.0, 9.0],
 'KBA05_FRAU': [-1.0, 9.0],
 'KBA05_GBZ': [-1.0, 0.0],
 'KBA05_HERST1': [-1.0, 9.0],
 'KBA05_HERST2': [-1.0, 9.0],
 'KBA05_HERST3': [-1.0, 9.0],
 'KBA05_HERST4': [-1.0, 9.0],
 'KBA05_HERST5': [-1.0, 9.0],
 'KBA05_HERSTTEMP': [-1.0, 9.0],
 'KBA05_KRSAQUOT': [-1.0, 9.0],
 'KBA05_KRSHERST1': [-1.0, 9.0],
 'KBA05_KRSHERST2': [-1.0, 9.0],
 'KBA05_KRSHERST3': [-1.0, 9.0],
 'KBA05_KRSKLEIN': [-1.0, 9.0],
 'KBA05_KRSOBER': [-1.0, 9.0],
 'KBA05_KRSVAN': [-1.0, 9.0],
 'KBA05_KRSZUL': [-1.0, 9.0],
 'KBA05_KW1': [-1.0, 9.0],
 'KBA05_KW2': [-1.0, 9.0],
 'KBA05_KW3': [-1.0, 9.0],
 'KBA05_MAXAH': [-1.0, 9.0],
 'KBA05_MAXBJ': [-1.0, 9.0],
 'KBA05_MAXHERST': [-1.0, 9.0],
 'KBA05_MAXSEG': [-1.0, 9.0],
 'KBA05_MAXVORB': [-1.0, 9.0],
 'KBA05_MOD1': [-1.0, 9.0],
 'KBA05_MOD2': [-1.0, 9.0],
 'KBA05_MOD3': [-1.0, 9.0],
 'KBA05_MOD4': [-1.0, 9.0],
 'KBA05_MOD8': [-1.0, 9.0],
 'KBA05_MODTEMP': [-1.0, 9.0],
 'KBA05_MOTOR': [-1.0, 9.0],
 'KBA05_MOTRAD': [-1.0, 9.0],
 'KBA05_SEG1': [-1.0, 9.0],
 'KBA05_SEG10': [-1.0, 9.0],
 'KBA05_SEG2': [-1.0, 9.0],
 'KBA05_SEG3': [-1.0, 9.0],
 'KBA05_SEG4': [-1.0, 9.0],
 'KBA05_SEG5': [-1.0, 9.0],
 'KBA05_SEG6': [-1.0, 9.0],
 'KBA05_SEG7': [-1.0, 9.0],
 'KBA05_SEG8': [-1.0, 9.0],
 'KBA05_SEG9': [-1.0, 9.0],
 'KBA05_VORB0': [-1.0, 9.0],
 'KBA05_VORB1': [-1.0, 9.0],
 'KBA05_VORB2': [-1.0, 9.0],
 'KBA05_ZUL1': [-1.0, 9.0],
 'KBA05_ZUL2': [-1.0, 9.0],
 'KBA05_ZUL3': [-1.0, 9.0],
 'KBA05_ZUL4': [-1.0, 9.0],
 'KBA13_ALTERHALTER_30': [-1.0],
 'KBA13_ALTERHALTER_45': [-1.0],
 'KBA13_ALTERHALTER_60': [-1.0],
 'KBA13_ALTERHALTER_61': [-1.0],
 'KBA13_AUDI': [-1.0],
 'KBA13_AUTOQUOTE': [-1.0],
 'KBA13_BJ_1999': [-1.0],
 'KBA13_BJ_2000': [-1.0],
 'KBA13_BJ_2004': [-1.0],
 'KBA13_BJ_2006': [-1.0],
 'KBA13_BJ_2008': [-1.0],
 'KBA13_BJ_2009': [-1.0],
 'KBA13_BMW': [-1.0],
 'KBA13_CCM_1000': [-1.0],
 'KBA13_CCM_1200': [-1.0],
 'KBA13_CCM_1400': [-1.0],
 'KBA13_CCM_0_1400': [-1.0],
 'KBA13_CCM_1500': [-1.0],
 'KBA13_CCM_1401_2500': [-1.0],
 'KBA13_CCM_1600': [-1.0],
 'KBA13_CCM_1800': [-1.0],
 'KBA13_CCM_2000': [-1.0],
 'KBA13_CCM_2500': [-1.0],
 'KBA13_CCM_2501': [-1.0],
 'KBA13_CCM_3000': [-1.0],
 'KBA13_CCM_3001': [-1.0],
 'KBA13_FAB_ASIEN': [-1.0],
 'KBA13_FAB_SONSTIGE': [-1.0],
 'KBA13_FIAT': [-1.0],
 'KBA13_FORD': [-1.0],
 'KBA13_HALTER_20': [-1.0],
 'KBA13_HALTER_25': [-1.0],
 'KBA13_HALTER_30': [-1.0],
 'KBA13_HALTER_35': [-1.0],
 'KBA13_HALTER_40': [-1.0],
 'KBA13_HALTER_45': [-1.0],
 'KBA13_HALTER_50': [-1.0],
 'KBA13_HALTER_55': [-1.0],
 'KBA13_HALTER_60': [-1.0],
 'KBA13_HALTER_65': [-1.0],
 'KBA13_HALTER_66': [-1.0],
 'KBA13_HERST_ASIEN': [-1.0],
 'KBA13_HERST_AUDI_VW': [-1.0],
 'KBA13_HERST_BMW_BENZ': [-1.0],
 'KBA13_HERST_EUROPA': [-1.0],
 'KBA13_HERST_FORD_OPEL': [-1.0],
 'KBA13_HERST_SONST': [-1.0],
 'KBA13_KMH_110': [-1.0],
 'KBA13_KMH_140': [-1.0],
 'KBA13_KMH_180': [-1.0],
 'KBA13_KMH_0_140': [-1.0],
 'KBA13_KMH_140_210': [-1.0],
 'KBA13_KMH_211': [-1.0],
 'KBA13_KMH_250': [-1.0],
 'KBA13_KMH_251': [-1.0],
 'KBA13_KRSAQUOT': [-1.0],
 'KBA13_KRSHERST_AUDI_VW': [-1.0],
 'KBA13_KRSHERST_BMW_BENZ': [-1.0],
 'KBA13_KRSHERST_FORD_OPEL': [-1.0],
 'KBA13_KRSSEG_KLEIN': [-1.0],
 'KBA13_KRSSEG_OBER': [-1.0],
 'KBA13_KRSSEG_VAN': [-1.0],
 'KBA13_KRSZUL_NEU': [-1.0],
 'KBA13_KW_30': [-1.0],
 'KBA13_KW_40': [-1.0],
 'KBA13_KW_50': [-1.0],
 'KBA13_KW_60': [-1.0],
 'KBA13_KW_0_60': [-1.0],
 'KBA13_KW_70': [-1.0],
 'KBA13_KW_61_120': [-1.0],
 'KBA13_KW_80': [-1.0],
 'KBA13_KW_90': [-1.0],
 'KBA13_KW_110': [-1.0],
 'KBA13_KW_120': [-1.0],
 'KBA13_KW_121': [-1.0],
 'KBA13_MAZDA': [-1.0],
 'KBA13_MERCEDES': [-1.0],
 'KBA13_MOTOR': [-1.0],
 'KBA13_NISSAN': [-1.0],
 'KBA13_OPEL': [-1.0],
 'KBA13_PEUGEOT': [-1.0],
 'KBA13_RENAULT': [-1.0],
 'KBA13_SEG_GELAENDEWAGEN': [-1.0],
 'KBA13_SEG_GROSSRAUMVANS': [-1.0],
 'KBA13_SEG_KLEINST': [-1.0],
 'KBA13_SEG_KLEINWAGEN': [-1.0],
 'KBA13_SEG_KOMPAKTKLASSE': [-1.0],
 'KBA13_SEG_MINIVANS': [-1.0],
 'KBA13_SEG_MINIWAGEN': [-1.0],
 'KBA13_SEG_MITTELKLASSE': [-1.0],
 'KBA13_SEG_OBEREMITTELKLASSE': [-1.0],
 'KBA13_SEG_OBERKLASSE': [-1.0],
 'KBA13_SEG_SONSTIGE': [-1.0],
 'KBA13_SEG_SPORTWAGEN': [-1.0],
 'KBA13_SEG_UTILITIES': [-1.0],
 'KBA13_SEG_VAN': [-1.0],
 'KBA13_SEG_WOHNMOBILE': [-1.0],
 'KBA13_SITZE_4': [-1.0],
 'KBA13_SITZE_5': [-1.0],
 'KBA13_SITZE_6': [-1.0],
 'KBA13_TOYOTA': [-1.0],
 'KBA13_VORB_0': [-1.0],
 'KBA13_VORB_1': [-1.0],
 'KBA13_VORB_1_2': [-1.0],
 'KBA13_VORB_2': [-1.0],
 'KBA13_VORB_3': [-1.0],
 'KBA13_VW': [-1.0],
 'KKK': [-1.0, 0.0],
 'NATIONALITAET_KZ': [-1.0, 0.0],
 'ORTSGR_KLS9': [-1.0],
 'OST_WEST_KZ': [-1.0],
 'PLZ8_ANTG1': [-1.0],
 'PLZ8_ANTG2': [-1.0],
 'PLZ8_ANTG3': [-1.0],
 'PLZ8_ANTG4': [-1.0],
 'PLZ8_GBZ': [-1.0],
 'PLZ8_HHZ': [-1.0],
 'PRAEGENDE_JUGENDJAHRE': [-1.0, 0.0],
 'REGIOTYP': [-1.0, 0.0],
 'RELAT_AB': [-1.0, 9.0],
 'RETOURTYP_BK_S': [0.0],
 'SEMIO_DOM': [-1.0, 9.0],
 'SEMIO_ERL': [-1.0, 9.0],
 'SEMIO_FAM': [-1.0, 9.0],
 'SEMIO_KAEM': [-1.0, 9.0],
 'SEMIO_KRIT': [-1.0, 9.0],
 'SEMIO_KULT': [-1.0, 9.0],
 'SEMIO_LUST': [-1.0, 9.0],
 'SEMIO_MAT': [-1.0, 9.0],
 'SEMIO_PFLICHT': [-1.0, 9.0],
 'SEMIO_RAT': [-1.0, 9.0],
 'SEMIO_REL': [-1.0, 9.0],
 'SEMIO_SOZ': [-1.0, 9.0],
 'SEMIO_TRADV': [-1.0, 9.0],
 'SEMIO_VERT': [-1.0, 9.0],
 'SHOPPER_TYP': [-1.0],
 'SOHO_KZ': [-1.0],
 'TITEL_KZ': [-1.0, 0.0],
 'VERS_TYP': [-1.0],
 'WOHNDAUER_2008': [-1.0, 0.0],
 'WOHNLAGE': [-1.0],
 'WACHSTUMSGEBIET_NB': [-1.0, 0.0],
 'W_KEIT_KIND_HH': [-1.0, 0.0],
 'ZABEOTYP': [-1.0, 9.0]}

In [62]:
# replace missing values
customers_clean_na = customers_coldropped.copy()
customers_clean_na[customers_clean_na.isin(replace_missing)] = np.nan

azdias_clean_na = azdias_coldropped.copy()
azdias_coldropped[azdias_coldropped.isin(replace_missing)] = np.nan

In [63]:
azdias_coldropped

,AGER_TYP,ALTER_HH,ANZ_HAUSHALTE_AKTIV,ANZ_HH_TITEL,ANZ_PERSONEN,ANZ_TITEL,BALLRAUM,CAMEO_DEU_2015,CAMEO_DEUG_2015,CAMEO_INTL_2015,...,SHOPPER_TYP,SOHO_KZ,TITEL_KZ,VERS_TYP,W_KEIT_KIND_HH,WOHNDAUER_2008,WOHNLAGE,ZABEOTYP,ANREDE_KZ,ALTERSKATEGORIE_GROB
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,1,2
1,NaN,NaN,11.0,0.0,2.0,0.0,6.0,8A,8,51,...,3.0,1.0,NaN,2.0,3.0,9.0,4.0,5,2,1
2,NaN,17.0,10.0,0.0,1.0,0.0,2.0,4C,4,24,...,2.0,0.0,NaN,1.0,3.0,9.0,2.0,5,2,3
3,2.0,13.0,1.0,0.0,0.0,0.0,4.0,2A,2,12,...,1.0,0.0,NaN,1.0,NaN,9.0,7.0,3,2,4
4,NaN,20.0,3.0,0.0,4.0,0.0,2.0,6B,6,43,...,2.0,0.0,NaN,2.0,2.0,9.0,3.0,4,1,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
891216,NaN,17.0,15.0,0.0,1.0,0.0,6.0,7A,7,41,...,3.0,0.0,NaN,1.0,3.0,4.0,3.0,4,2,3
891217,NaN,16.0,11.0,0.0,1.0,0.0,7.0,9D,9,51,...,NaN,0.0,NaN,NaN,6.0,9.0,5.0,6,1,2
891218,NaN,17.0,3.0,0.0,0.0,0.0,5.0,4C,4,24,...,2.0,0.0,NaN,1.0,NaN,5.0,7.0,4,2,2
891219,NaN,NaN,7.0,0.0,1.0,0.0,2.0,9D,9,51,...,0.0,0.0,NaN,2.0,1.0,9.0,5.0,5,1,1
891220,NaN,NaN,10.0,0.0,1.0,0.0,6.0,6B,6,43,...,2.0,0.0,NaN,1.0,6.0,3.0,4.0,3,1,4

In [ ]:
# Loop through columns, check if values are in the right range and convert missing values to NaN

for col in azdias_coldropped.columns:   
    if col in data_type['Attribute'].values.tolist():
#         print('{}: {}'.format(col, azdias_coldropped[col].unique()))
        print('{}, {}, {}'.format(col, ))
    else:
        print('{} not in dictionary'.format(col))

In [ ]:
col in data_type['Attribute']

In [ ]:
data_type.loc[data_type['Attribute']==col, 'Values'].iloc[0]

In [ ]:
data_type

In [ ]:
customers_coldropped

## Compare to population

Similar to Kolmogorov-Smirnov Test
1. loop through each column
  1. calculate relative proportions of each category
    - for both population and costumers
  2. Calculate difference for each
  3. Sum the absolute value
  
2. Order columns by the biggest difference

## Part 1: Customer Segmentation Report

The main bulk of your analysis will come in this part of the project. Here, you should use unsupervised learning techniques to describe the relationship between the demographics of the company's existing customers and the general population of Germany. By the end of this part, you should be able to describe parts of the general population that are more likely to be part of the mail-order company's main customer base, and which parts of the general population are less so.

## Part 2: Supervised Learning Model

Now that you've found which parts of the population are more likely to be customers of the mail-order company, it's time to build a prediction model. Each of the rows in the "MAILOUT" data files represents an individual that was targeted for a mailout campaign. Ideally, we should be able to use the demographic information from each individual to decide whether or not it will be worth it to include that person in the campaign.

The "MAILOUT" data has been split into two approximately equal parts, each with almost 43 000 data rows. In this part, you can verify your model with the "TRAIN" partition, which includes a column, "RESPONSE", that states whether or not a person became a customer of the company following the campaign. In the next part, you'll need to create predictions on the "TEST" partition, where the "RESPONSE" column has been withheld.

In [ ]:
mailout_train = pd.read_csv('../../data/Term2/capstone/arvato_data/Udacity_MAILOUT_052018_TRAIN.csv', sep=';')

## Part 3: Kaggle Competition

Now that you've created a model to predict which individuals are most likely to respond to a mailout campaign, it's time to test that model in competition through Kaggle. If you click on the link [here](http://www.kaggle.com/t/21e6d45d4c574c7fa2d868f0e8c83140), you'll be taken to the competition page where, if you have a Kaggle account, you can enter.

Your entry to the competition should be a CSV file with two columns. The first column should be a copy of "LNR", which acts as an ID number for each individual in the "TEST" partition. The second column, "RESPONSE", should be some measure of how likely each individual became a customer – this might not be a straightforward probability. As you should have found in Part 2, there is a large output class imbalance, where most individuals did not respond to the mailout. Thus, predicting individual classes and using accuracy does not seem to be an appropriate performance evaluation method. Instead, the competition will be using AUC to evaluate performance. The exact values of the "RESPONSE" column do not matter as much: only that the higher values try to capture as many of the actual customers as possible, early in the ROC curve sweep.

In [ ]:
mailout_test = pd.read_csv('../../data/Term2/capstone/arvato_data/Udacity_MAILOUT_052018_TEST.csv', sep=';')