# Capstone Project: Create a Customer Segmentation Report for Arvato Financial Services

In this project, you will analyze demographics data for customers of a mail-order sales company in Germany, comparing it against demographics information for the general population. You'll use unsupervised learning techniques to perform customer segmentation, identifying the parts of the population that best describe the core customer base of the company. Then, you'll apply what you've learned on a third dataset with demographics information for targets of a marketing campaign for the company, and use a model to predict which individuals are most likely to convert into becoming customers for the company. The data that you will use has been provided by our partners at Bertelsmann Arvato Analytics, and represents a real-life data science task.

If you completed the first term of this program, you will be familiar with the first part of this project, from the unsupervised learning project. The versions of those two datasets used in this project will include many more features and has not been pre-cleaned. You are also free to choose whatever approach you'd like to analyzing the data rather than follow pre-determined steps. In your work on this project, make sure that you carefully document your steps and decisions, since your main deliverable for this project will be a blog post reporting your findings.

In [1]:
# import libraries here; add more as necessary
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# magic word for producing visualizations in notebook
%matplotlib inline

## Part 0: Get to Know the Data

There are four data files associated with this project:

- `Udacity_AZDIAS_052018.csv`: Demographics data for the general population of Germany; 891 211 persons (rows) x 366 features (columns).
- `Udacity_CUSTOMERS_052018.csv`: Demographics data for customers of a mail-order company; 191 652 persons (rows) x 369 features (columns).
- `Udacity_MAILOUT_052018_TRAIN.csv`: Demographics data for individuals who were targets of a marketing campaign; 42 982 persons (rows) x 367 (columns).
- `Udacity_MAILOUT_052018_TEST.csv`: Demographics data for individuals who were targets of a marketing campaign; 42 833 persons (rows) x 366 (columns).

Each row of the demographics files represents a single person, but also includes information outside of individuals, including information about their household, building, and neighborhood. Use the information from the first two files to figure out how customers ("CUSTOMERS") are similar to or differ from the general population at large ("AZDIAS"), then use your analysis to make predictions on the other two files ("MAILOUT"), predicting which recipients are most likely to become a customer for the mail-order company.

The "CUSTOMERS" file contains three extra columns ('CUSTOMER_GROUP', 'ONLINE_PURCHASE', and 'PRODUCT_GROUP'), which provide broad information about the customers depicted in the file. The original "MAILOUT" file included one additional column, "RESPONSE", which indicated whether or not each recipient became a customer of the company. For the "TRAIN" subset, this column has been retained, but in the "TEST" subset it has been removed; it is against that withheld column that your final predictions will be assessed in the Kaggle competition.

Otherwise, all of the remaining columns are the same between the three data files. For more information about the columns depicted in the files, you can refer to two Excel spreadsheets provided in the workspace. [One of them](./DIAS Information Levels - Attributes 2017.xlsx) is a top-level list of attributes and descriptions, organized by informational category. [The other](./DIAS Attributes - Values 2017.xlsx) is a detailed mapping of data values for each feature in alphabetical order.

In the below cell, we've provided some initial code to load in the first two datasets. Note for all of the `.csv` data files in this project that they're semicolon (`;`) delimited, so an additional argument in the [`read_csv()`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html) call has been included to read in the data properly. Also, considering the size of the datasets, it may take some time for them to load completely.

You'll notice when the data is loaded in that a warning message will immediately pop up. Before you really start digging into the modeling and analysis, you're going to need to perform some cleaning. Take some time to browse the structure of the data and look over the informational spreadsheets to understand the data values. Make some decisions on which features to keep, which features to drop, and if any revisions need to be made on data formats. It'll be a good idea to create a function with pre-processing steps, since you'll need to clean all of the datasets before you work with them.

## TODO Explore data

In [2]:
# load in the data
azdias = pd.read_csv('../data/Udacity_AZDIAS_052018.csv', sep=';')
customers = pd.read_csv('../data/Udacity_CUSTOMERS_052018.csv', sep=';')

print(azdias.shape)
azdias.head()

/home/gabor/anaconda3/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (18,19) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

(891221, 366)

,LNR,AGER_TYP,AKT_DAT_KL,ALTER_HH,ALTER_KIND1,ALTER_KIND2,ALTER_KIND3,ALTER_KIND4,ALTERSKATEGORIE_FEIN,ANZ_HAUSHALTE_AKTIV,...,VHN,VK_DHT4A,VK_DISTANZ,VK_ZG11,W_KEIT_KIND_HH,WOHNDAUER_2008,WOHNLAGE,ZABEOTYP,ANREDE_KZ,ALTERSKATEGORIE_GROB
0,910215,-1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3,1,2
1,910220,-1,9.0,0.0,NaN,NaN,NaN,NaN,21.0,11.0,...,4.0,8.0,11.0,10.0,3.0,9.0,4.0,5,2,1
2,910225,-1,9.0,17.0,NaN,NaN,NaN,NaN,17.0,10.0,...,2.0,9.0,9.0,6.0,3.0,9.0,2.0,5,2,3
3,910226,2,1.0,13.0,NaN,NaN,NaN,NaN,13.0,1.0,...,0.0,7.0,10.0,11.0,NaN,9.0,7.0,3,2,4
4,910241,-1,1.0,20.0,NaN,NaN,NaN,NaN,14.0,3.0,...,2.0,3.0,5.0,4.0,2.0,9.0,3.0,4,1,3

In [3]:
# Read up data dictionary
df_dictionary = pd.read_excel('../data/DIAS Attributes - Values 2017.xlsx', skiprows=1, usecols=[1,2,3,4])
df_dictionary['Attribute'].fillna(method='ffill', inplace=True)
df_dictionary['Description'].fillna(method='ffill', inplace=True)
df_dictionary.loc[df_dictionary['Value']=='…', 'Type'] = 'continous'
df_dictionary.loc[~(df_dictionary['Value']=='…'), 'Type'] = 'non-continous'

# Split the cells with list values '-1, 0' -> ['-1', '0']
df_splitvals = df_dictionary['Value'].str.split(',')
split_rows = ~df_splitvals.isnull()
df_dictionary.loc[split_rows, 'Value'] = df_splitvals.loc[split_rows]

# New row for cells with list items
df_dictionary = df_dictionary.explode('Value')

# Convert string numbers to numerical
all_values = df_dictionary['Value']
df_dictionary['Value'] = pd.to_numeric(df_dictionary['Value'], errors='coerce', downcast='integer')
df_dictionary['Value'] = df_dictionary['Value'].fillna(all_values)

# Create list of possible values and missing values by column
data_type = df_dictionary[['Attribute', 'Type']].drop_duplicates()

# Create columns with possible values
possible_values = df_dictionary.groupby(by='Attribute')['Value'].apply(list)
print(len(possible_values), len(data_type))
data_type = data_type.merge(possible_values, left_on='Attribute', right_index=True).reset_index(drop=True)
print(len(data_type))

# missing values
df_missing = df_dictionary[df_dictionary['Meaning'].astype('str').str.contains('unknown|no classification possible|no transactions known')]
missing_values = df_missing.groupby(by='Attribute')['Value'].apply(list)
data_type = data_type.merge(missing_values, left_on='Attribute', right_index=True, how='left').reset_index(drop=True)
print(len(data_type))
data_type.rename(columns={'Value_x':'Values','Value_y':'Missing values'}, inplace=True)

314 314
314
314

In [4]:
data_type.head()

,Attribute,Type,Values,Missing values
0,AGER_TYP,non-continous,"[-1.0, 0.0, 1.0, 2.0, 3.0]","[-1.0, 0.0]"
1,ALTERSKATEGORIE_GROB,non-continous,"[-1.0, 0.0, 1.0, 2.0, 3.0, 4.0, 9.0]","[-1.0, 0.0]"
2,ALTER_HH,non-continous,"[0.0, 1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0, 8.0, ...",[0.0]
3,ANREDE_KZ,non-continous,"[-1.0, 0.0, 1.0, 2.0]","[-1.0, 0.0]"
4,ANZ_HAUSHALTE_AKTIV,continous,[…],NaN

In [5]:
cols_customers = customers.columns
cols_azdias = azdias.columns
cols_datadict = sorted(data_type['Attribute'])
print(len(cols_customers))
print(len(cols_azdias))
print(len(cols_datadict))

df_cols = pd.Series(sorted(cols_customers), name='customers').to_frame()
df_cols = df_cols.merge(pd.Series(sorted(cols_azdias), name='azdias').to_frame(), left_on='customers', right_on='azdias', how='outer')

# Deal with mis-spelled column names
# in all three sets: rename the _RZ
cols_datadict = [col[0:-3] if col[-3:]=='_RZ' else col for col in cols_datadict ]
df_cols.loc[df_cols['customers']=='D19_BUCH_CD'] = 'D19_BUCH'

# in data dictionary: KBA13_CCM_1400_2500 -> KBA13_CCM_1401_2500
df_dict_cols = pd.Series(sorted(cols_datadict), name='dictionary').to_frame()
df_dict_cols.loc[df_dict_cols['dictionary']=='KBA13_CCM_1400_2500']='KBA13_CCM_1401_2500'

# in data dictionary: CAMEO_DEUINTL_2015 -> CAMEO_INTL_2015
df_dict_cols.loc[df_dict_cols['dictionary']=='CAMEO_DEUINTL_2015']='CAMEO_INTL_2015'

# in data dictionary: SOHO_FLAG -> SOHO_KZ
df_dict_cols.loc[df_dict_cols['dictionary']=='SOHO_FLAG']='SOHO_KZ'

df_cols = df_cols.merge(df_dict_cols, left_on='customers', right_on='dictionary', how='outer')
df_cols['All Cols']=df_cols.fillna(method='pad', axis=1)['dictionary']
len(df_cols)

369
366
314

374

In [6]:
# rename columns in data dictionary
data_type['Attribute'] = data_type['Attribute'].str.replace('_RZ', '', regex=True)
col_name_changes = {'KBA13_CCM_1400_2500':'KBA13_CCM_1401_2500',
                    'CAMEO_DEUINTL_2015':'CAMEO_INTL_2015',
                    'SOHO_FLAG': 'SOHO_KZ'}

data_type['Attribute'] = data_type['Attribute'].replace(col_name_changes)

# rename column in customer and azdias
azdias.columns = azdias.columns.str.replace('D19_BUCH_CD', 'D19_BUCH')
customers.columns = customers.columns.str.replace('D19_BUCH_CD', 'D19_BUCH')

In [7]:
# Checks
cols_to_drop = df_cols[df_cols.isnull().any(axis=1)]['All Cols'].values
print(len(cols_to_drop))
cols_to_drop[:20]

65

array(['AKT_DAT_KL', 'ALTERSKATEGORIE_FEIN', 'ALTER_KIND1', 'ALTER_KIND2',
       'ALTER_KIND3', 'ALTER_KIND4', 'ANZ_KINDER',
       'ANZ_STATISTISCHE_HAUSHALTE', 'ARBEIT', 'CJT_KATALOGNUTZER',
       'CJT_TYP_1', 'CJT_TYP_2', 'CJT_TYP_3', 'CJT_TYP_4', 'CJT_TYP_5',
       'CJT_TYP_6', 'CUSTOMER_GROUP', 'D19_KONSUMTYP_MAX',
       'D19_LETZTER_KAUF_BRANCHE', 'D19_SOZIALES'], dtype=object)

In [8]:
# Check if df is updated
df_cols[df_cols['All Cols'].str.contains('CAMEO|KBA13_CCM_140')]

,customers,azdias,dictionary,All Cols
18,CAMEO_DEUG_2015,CAMEO_DEUG_2015,CAMEO_DEUG_2015,CAMEO_DEUG_2015
19,CAMEO_DEU_2015,CAMEO_DEU_2015,CAMEO_DEU_2015,CAMEO_DEU_2015
20,CAMEO_INTL_2015,CAMEO_INTL_2015,CAMEO_INTL_2015,CAMEO_INTL_2015
208,KBA13_CCM_1400,KBA13_CCM_1400,KBA13_CCM_1400,KBA13_CCM_1400
209,KBA13_CCM_1401_2500,KBA13_CCM_1401_2500,KBA13_CCM_1401_2500,KBA13_CCM_1401_2500

## I'll need columns present in both dataset at the same time.

In [9]:
# Drop all non matching columns
cols_to_drop_azdias = [col for col in cols_to_drop if col in azdias.columns ]
print(len(cols_to_drop_azdias))
azdias_coldropped = azdias.drop(columns=cols_to_drop_azdias)
print('az: {}'.format(len(azdias_coldropped.columns)))

cols_to_drop_customers = [col for col in cols_to_drop if col in customers.columns ]
print(len(cols_to_drop_customers))
customers_coldropped = customers.drop(columns=cols_to_drop_customers)
print('cus: {}'.format(len(customers_coldropped.columns)))

57
az: 309
60
cus: 309

## TODO Clean data

In [10]:
# dictionary of missing/unknown value encoding
replace_missing = data_type[~data_type['Missing values'].isnull()].set_index('Attribute')['Missing values'].to_dict()

# replace missing values
customers_clean_na = customers_coldropped.copy()
customers_clean_na[customers_clean_na.isin(replace_missing)] = np.nan

azdias_clean_na = azdias_coldropped.copy()
azdias_clean_na[azdias_clean_na.isin(replace_missing)] = np.nan

In [11]:
# turn object columns to numerical
object_cols = azdias_clean_na.select_dtypes('object').columns
object_cols = object_cols[~object_cols.isin(['CAMEO_DEU_2015', 'OST_WEST_KZ'])]

if len(object_cols)>0:
    azdias_clean_na[object_cols] = azdias_clean_na[object_cols].apply(pd.to_numeric, errors='coerce')

# Loop through columns, check if values are in the right range and right data type
for i, col in enumerate(azdias_clean_na.columns):

    # continous columns
    if data_type.loc[data_type['Attribute']==col, 'Type'].iloc[0] == 'continous':
        if pd.api.types.is_numeric_dtype(azdias_clean_na[col]):
            next
        else:
            print(col, azdias_clean_na.dtypes[col])

    # String encoded & int categorical columns
    else:
        in_possible_vals = azdias_clean_na[col].isin(data_type.loc[data_type['Attribute']==col, 'Values'].iloc[0])
        is_na = azdias_clean_na[col].isna()
        
        azdias_clean_na.loc[~in_possible_vals & ~is_na, col] = pd.NA
        
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308

## Compare to population

Similar to Kolmogorov-Smirnov Test
1. loop through each column
  1. calculate relative proportions of each category
    - for both population and costumers
  2. Calculate difference for each
  3. Sum the absolute value
  
2. Order columns by the biggest difference

## Part 1: Customer Segmentation Report

The main bulk of your analysis will come in this part of the project. Here, you should use unsupervised learning techniques to describe the relationship between the demographics of the company's existing customers and the general population of Germany. By the end of this part, you should be able to describe parts of the general population that are more likely to be part of the mail-order company's main customer base, and which parts of the general population are less so.

## Part 2: Supervised Learning Model

Now that you've found which parts of the population are more likely to be customers of the mail-order company, it's time to build a prediction model. Each of the rows in the "MAILOUT" data files represents an individual that was targeted for a mailout campaign. Ideally, we should be able to use the demographic information from each individual to decide whether or not it will be worth it to include that person in the campaign.

The "MAILOUT" data has been split into two approximately equal parts, each with almost 43 000 data rows. In this part, you can verify your model with the "TRAIN" partition, which includes a column, "RESPONSE", that states whether or not a person became a customer of the company following the campaign. In the next part, you'll need to create predictions on the "TEST" partition, where the "RESPONSE" column has been withheld.

In [ ]:
mailout_train = pd.read_csv('../../data/Term2/capstone/arvato_data/Udacity_MAILOUT_052018_TRAIN.csv', sep=';')

## Part 3: Kaggle Competition

Now that you've created a model to predict which individuals are most likely to respond to a mailout campaign, it's time to test that model in competition through Kaggle. If you click on the link [here](http://www.kaggle.com/t/21e6d45d4c574c7fa2d868f0e8c83140), you'll be taken to the competition page where, if you have a Kaggle account, you can enter.

Your entry to the competition should be a CSV file with two columns. The first column should be a copy of "LNR", which acts as an ID number for each individual in the "TEST" partition. The second column, "RESPONSE", should be some measure of how likely each individual became a customer – this might not be a straightforward probability. As you should have found in Part 2, there is a large output class imbalance, where most individuals did not respond to the mailout. Thus, predicting individual classes and using accuracy does not seem to be an appropriate performance evaluation method. Instead, the competition will be using AUC to evaluate performance. The exact values of the "RESPONSE" column do not matter as much: only that the higher values try to capture as many of the actual customers as possible, early in the ROC curve sweep.

In [ ]:
mailout_test = pd.read_csv('../../data/Term2/capstone/arvato_data/Udacity_MAILOUT_052018_TEST.csv', sep=';')